#headercb {
background-color: #a0e4b0;
margin: 0px;
display: inline-block;
}

#headerlogo {
  overflow: hidden;
  display: inline-block;
}

#container {
  display: 
}

img {
  max-width: 100%;
  height: auto;
}